ion-searchbar.custom {
  --background: #fff;
  --color: #2563eb;
  --placeholder-color: #2563eb;
  --icon-color: #2563eb;

  --border-radius: 0.5rem;
  /* --box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1); */

}


.group {
  position: relative;
}

.group .menu-icon {

  top: 2px; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-icon {
  position: absolute;
  bottom: 40px; 
  left: 50%;
  transform: translateX(-50%);
}

.hidden {
  display: none;
}

.group  a ion-icon {
  display: flex;
  align-items: center;
  // opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.group  a ion-icon.ng-enter-active,
.group  a ion-icon.ng-leave-active {
  opacity: 1;
  transform: translateY(0);
}