<ion-header class="bg-white shadow-none border-b border-gray-200">
  <div class="flex gap-2 items-center mx-3 my-2">
    <img 
      class="max-h-14 mx-auto"
      alt="logo PetPalooza" 
      src="assets/img/logo/PetPalooza.png" 
    />
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="bg-gray-50">
  <div class="flex flex-row items-center">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </div>
  <section class="max-w-5xl w-full mx-auto">    
<div> 
      <div class="px-8 pt-4 text-start">
        <!-- <small class="font-thin text-xs">Trivia PetPalooza</small> -->
        <small class="font-thin text-xs tracking-wider">Elige tu  modo de juego</small>
        <h4 class="pb-1 text-3xl font-medium">Vamos a jugar!</h4>
      </div>
</div>
    <div class="mt-10 flex flex-col md:flex-row gap-12 md:gap-6 justify-center items-center px-6"
         [ngClass]="{
              'gap-20 transition-all duration-400 ': showLevelsQuiz,
              'gap-14 ': !showLevelsQuiz
            }">
      <div class="relative">
           <button class="bg-btn-trivia relative rounded-xl px-4 py-2 w-80 h-[120px] text-gray-50 text-xl cursor-pointer hover:scale-105 duration-100"
         (click)="toggleLevelsQuiz()"
         >
          <div class="rounded-md absolute left-2 top-2 bg-gray-50 p-1">
                🧐
          </div>
            <div class="rounded-md absolute right-3 -top-8 w-24 h-20 p-1"> 
              <img src="./assets/img/trivia/quiz128x128.png" class="drop-shadow-2xl"/>
            </div>
            <div class="absolute bottom-4 text-start w-full ">
                <h6 class="font-semibold tracking-widest">
                  Adivina la raza
                </h6>
                <p class="text-xs tracking-wider">¿Cuántas Razas reconoces?</p>
            </div>
            
        </button>
        <div class="overflow-hidden transition-all duration-500"
             [ngClass]="{
              'max-h-20 absolute -bottom-10 block': showLevelsQuiz,
              'max-h-0 hidden': !showLevelsQuiz
            }"
            >
                <ul class="flex flex-row justify-center gap-2 items-center text-gray-50">
                  <li class="cursor-pointer">
                    <button class="bg-btn-trivia-lvl rounded-full bg-amber-300 p-2 w-[102px] text-sm"
                    (click) = "goToBreed('basic')">
                      Nvl. Básico
                    </button>
                  </li>
                  <li class="cursor-pointer">
                    <button class="bg-btn-trivia-lvl  rounded-2xl bg-amber-300 p-2 w-[102px] text-sm"
                    (click) = "goToBreed('medium')">
                      Nvl. Medio
                    </button>
                  </li>
                    <li class="cursor-pointer">
                    <button class="bg-btn-trivia-lvl  rounded-2xl bg-amber-300 p-2 w-[102px] text-sm"
                    (click) = "goToBreed('hard')">
                      Nvl. Dificil
                    </button>
                  </li>
                </ul>
        </div>
      </div>

      <div class="relative">
              <button class="bg-btn-trivia-two relative rounded-xl px-4 py-2 items-center w-80 h-[120px]  text-gray-50 text-xl cursor-pointer hover:scale-105 duration-100"
              (click)="toggleLevelsBreed()"
          >
              <div class="rounded-md absolute left-2 top-2 bg-gray-50 p-1">
                    🧠
              </div>
              <div class="rounded-md absolute right-3 -top-8 w-24 h-20 p-1"> 
                <img src="./assets/img/trivia/books128x128px.png"/>
              </div>
              <div class="absolute bottom-4 text-start w-full">
                  <h6 class="font-semibold tracking-widest">
                    Prueba tu conocimiento
                  </h6>
                  <p class="text-xs tracking-wider">¿Cuánto sabes sobre tu peludo amigo?</p>
              </div>
             
        </button>
        <div class="overflow-hidden transition-all duration-500"
             [ngClass]="{
              'max-h-20 absolute -bottom-10 block': showLevelsBreed,
              'max-h-0 hidden': !showLevelsBreed
            }"
            >
                <ul class="flex flex-row justify-center gap-2 items-center text-gray-50">
                  <li class="cursor-pointer">
                    <button class="bg-btn-trivia-lvl-two rounded-full bg-amber-300 p-2 w-[102px] text-sm"
                    (click) = "goToQuiz('basic')">
                      Nvl. Básico
                    </button>
                  </li>
                  <li class="cursor-pointer">
                    <button class="bg-btn-trivia-lvl-two  rounded-2xl bg-amber-300 p-2 w-[102px] text-sm"
                    (click) = "goToQuiz('medium')">
                      Nvl. Medio
                    </button>
                  </li>
                    <li class="cursor-pointer">
                    <button class="bg-btn-trivia-lvl-two  rounded-2xl bg-amber-300 p-2 w-[102px] text-sm"
                    (click) = "goToQuiz('hard')">
                      Nvl. Dificil
                    </button>
                  </li>
                </ul>
        </div>
      </div>
  
      
    </div>

  </section>


</ion-content>
