<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grid grid-cols-1 gap-3 py-3 w-full">
    <ng-container *ngIf="favoriteAnimals.length > 0; else noFavorites">
      <div class="h-max rounded-xl overflow-hidden border border-blue-300 shadow-lg" *ngFor="let animal of favoriteAnimals">
        <ion-card class="m-0 h-44 relative group" mode="md">
          <img 
            class="h-full w-full object-cover object-center absolute top-0 left-0 transition-all duration-300 group-hover:scale-110" 
            alt="Imagen de {{ animal.Raza }}" 
            [src]="animal.imgPerfil" 
          />
          <ion-card-header class="p-2 h-full w-full justify-end bg-gradient-to-b from-transparent from-40% via-black/50 to-black/80">
            <ion-card-title class="text-white">{{ animal.Raza }}</ion-card-title>
            <ion-card-subtitle class="text-gray-200">{{ animal.Origen }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
    </ng-container>
    <ng-template #noFavorites>
      <h1 class="ion-text-center">No hay favoritos actualmente</h1>
    </ng-template>
  </div>
</ion-content>
