<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container class="swiper-container" [slidesPerView]="1" [spaceBetween]="10" [navigation]="true" [pagination]="{ clickable: true }">
    <swiper-slide class="swiper-slide" *ngFor="let imageUrl of images">
      <ion-img [src]="imageUrl" class="swiper-img"></ion-img>
    </swiper-slide>
  </swiper-container>
</ion-content>
