<ion-content [fullscreen]="true">
  <div class="flex flex-col h-full">
    <ion-toolbar class="border-b border-gray-200">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <div class="flex items-center justify-center">
        <img 
          class="max-h-14 my-1"
          alt="logo PetPalooza" 
          src="assets/img/logo/PetPalooza.png" 
        />
      </div>
    </ion-toolbar>
    <div *ngIf="isLoading; else content">
      <div class="flex flex-col h-full" class="h-screen">
        <!-- Skeleton Loader -->
        <div class="flex flex-col flex-grow">
          <div class="h-full w-full max-w-md mx-auto class=">
            <div class="bg-gray-300 flex flex-col items-center justify-center w-full h-full relative rounded-lg overflow-hidden animate-pulse">
              <!-- Skeleton Image -->
              <div class="w-full h-48 bg-gray-200 rounded-lg mb-4"></div>
              
              <!-- Skeleton Content -->
              <div class="relative w-full bg-gradient-to-b from-transparent via-black/40 to-black flex flex-col items-center p-4 rounded-lg">
                <!-- Skeleton Title -->
                <div class="w-3/4 h-8 bg-gray-200 rounded mb-4"></div>
                
                <!-- Skeleton Temperamento -->
                <div class="my-3 flex gap-2">
                  <div class="w-24 h-6 bg-gray-200 rounded-full"></div>
                  <div class="w-16 h-6 bg-gray-200 rounded-full"></div>
                </div>
      
                <!-- Skeleton Description -->
                <div class="w-full h-20 bg-gray-200 rounded-md mb-4"></div>
                
                <!-- Skeleton Buttons -->
                <div class="flex justify-around w-full">
                  <button class="w-12 h-12 bg-gray-200 rounded-full flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-x">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M18 6l-12 12" />
                      <path d="M6 6l12 12" />
                    </svg>
                  </button>
                  <button class="w-12 h-12 bg-gray-200 rounded-full flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icon-tabler-heart">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M6.979 3.074a6 6 0 0 1 4.988 1.425l.037 .033l.034 -.03a6 6 0 0 1 4.733 -1.44l.246 .036a6 6 0 0 1 3.364 10.008l-.18 .185l-.048 .041l-7.45 7.379a1 1 0 0 1 -1.313 .082l-.094 -.082l-7.493 -7.422a6 6 0 0 1 3.176 -10.215z" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #content>
      <div class="flex flex-col flex-grow">
        <div class="h-full w-full max-w-md mx-auto p-4">
          <div class="bg-gray-300 flex flex-col items-center justify-center w-full h-full relative rounded-lg overflow-hidden" *ngIf="combinedAnimals.length > 0; else noAnimal">
            <img 
              class="object-cover object-center w-full h-full absolute top-0 left-0" 
              [src]="getCurrentAnimal()?.imgPerfil" alt="Imagen de la mascota"/>
            <div class="relative h-full w-full bg-gradient-to-b from-transparent from-30% via-black/50 to-black flex items-end">
              <div class="p-3">
                <h1 class="text-4xl text-white">
                  {{ getCurrentAnimal()?.Raza }} <span class="text-gray-300">{{ getCurrentAnimal()?.Anio }}</span>
                </h1>
  
                <div class="my-3 flex justify-between">
                  <div id="temperamento" class="flex flex-wrap gap-2 items-end" >
                    <span 
                      *ngFor="let temperamento of getCurrentAnimal()?.Temperamento"
                      class="text-white text-sm font-normal px-3 py-1 rounded-full bg-gradient-to-br from-[#24c6dc] to-[#5359a8]">
                      {{ temperamento.tipo }}
                    </span>
                  </div>

                  <div class="flex items-end">
                    <button
                      *ngIf="isExpanded"
                      class="flex items-center justify-center bg-black/50 text-white p-1 duration-300 rounded-full"
                      (click)="toggleExpand()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-down">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 19l0 -14" />
                        <path d="M18 13l-6 6" />
                        <path d="M6 13l6 6" />
                      </svg>
                    </button>
                    <button
                      *ngIf="!isExpanded"
                      class="flex items-center justify-center bg-black/50 text-white p-1 duration-300 rounded-full"
                      (click)="toggleExpand()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 5l0 14" />
                        <path d="M18 11l-6 -6" />
                        <path d="M6 11l6 -6" />
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="my-3 flex justify-between">
                  <div class="bg-gray-600/40 text-gray-100 font-light p-3 rounded-md overflow-hidden">
                    <div [ngClass]="{ 'line-clamp-3': !isExpanded, 'line-clamp-none': isExpanded }">
                      {{ getCurrentAnimal()?.Historia }}
                    </div>
                  </div>                  
                </div>
                <div id="buttons" class="flex justify-around mt-6 mb-4">
                  <button
                    class="flex items-center justify-center bg-[#27292e] text-[#60a5fa] p-2 duration-300 rounded-full" (click)="onDislike()">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="35"  height="35"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="3"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg> 
                  </button>
                  <button
                    class="flex items-center justify-center bg-[#24252A] text-[#FC2488] p-2 duration-300 rounded-full" (click)="onLike(getCurrentAnimal())" >
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="35"  height="35"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-heart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6.979 3.074a6 6 0 0 1 4.988 1.425l.037 .033l.034 -.03a6 6 0 0 1 4.733 -1.44l.246 .036a6 6 0 0 1 3.364 10.008l-.18 .185l-.048 .041l-7.45 7.379a1 1 0 0 1 -1.313 .082l-.094 -.082l-7.493 -7.422a6 6 0 0 1 3.176 -10.215z" /></svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noAnimal>
        <p class="text-center p-4">Ya todos las mascotas están en favoritos - Estaremos actualizando nuestra data momentáneamente.</p>
      </ng-template>
    </ng-template>
  </div>
</ion-content>