ion-card {
    margin: 0 auto;
    max-width: 90%;
  }
  
  ion-card-header {
    background-color: #f8f9fa;
  }
  
  ion-card-content {
    padding: 0;
  }
  
img {
    border-radius: 8px;
}
  
ion-button {
    --height: 48px;
    --border-radius: 24px;
}
  
ion-icon {
    font-size: 24px;
}

.collapsed {
  max-height: 60px; /* Altura máxima para el modo colapsado */
  overflow: hidden; /* Oculta el contenido que sobrepasa la altura */
  display: -webkit-box; /* Necesario para el truncamiento de múltiples líneas */
  -webkit-line-clamp: 3; /* Número de líneas visibles antes de truncar */
  -webkit-box-orient: vertical; /* Orientación del contenedor */
  text-overflow: ellipsis; /* Muestra los puntos suspensivos (...) */
}

.expanded {
  max-height: none; /* Sin restricción de altura en el modo expandido */
  overflow: auto; /* Permite el desplazamiento */
}

.skeleton-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 16px;
}

.skeleton-image {
  width: 100%;
  height: 200px;
  background-color: #e0e0e0;
  border-radius: 8px;
  margin-bottom: 16px;
}

.skeleton-text {
  width: 80%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 8px;
}

.skeleton-title {
  width: 60%;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 16px;
}

.skeleton-subtitle {
  width: 40%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 16px;
}

.skeleton-line {
  width: 90%;
  height: 15px;
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 8px;
}

  
  