.bg-gray-200 {
  background-color: #e2e8f0; /* Puedes cambiar los colores aquí */
  animation: pulse 1.5s ease-in-out infinite;
}
  
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
  