<ion-content [fullscreen]="true" mode="md">
  <div class="background"></div>

  <ion-toolbar>
    <div class="button-container" >
      PetPalooza
    </div>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <swiper-container navigation *ngFor="let gato of getGatoById(selectedGatoId)">
    <swiper-slide class="centered-slide" *ngFor="let img of getImagesArray(gato)">
      <ion-card mode="md" class="card">
        <ion-img (click)="openModal(img)" [src]="img" [alt]="'Imagen de ' + gato.Raza" style="width: 460; height: 640;"></ion-img>
      </ion-card>
    </swiper-slide>
  </swiper-container>
  

  
  <ion-segment mode="ios" [(ngModel)]="selectedSegmentValue" (ionChange)="changeCardContent(selectedSegmentValue)" style="margin-bottom: 20px;">
    <ion-segment-button value="origen" [checked]="selectedSegmentValue === 'origen'">
      <!-- <ion-label>Origen</ion-label> -->
      <ion-icon name="flask-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="caracteristicas" [checked]="selectedSegmentValue === 'caracteristicas'">
        <!-- <ion-label>Caracteristicas Fisicas</ion-label> -->
        <ion-icon name="paw-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="temperamento" [checked]="selectedSegmentValue === 'temperamento'">
     <!-- <ion-label>Temperamento</ion-label> -->
     <ion-icon name="leaf-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="cuidado" [checked]="selectedSegmentValue === 'cuidado'">
      <!-- <ion-label>Cuidado y Salud</ion-label> -->
      <ion-icon name="fitness-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-card style="margin-bottom:  5px; padding: 2px; text-align: center;" class="bg-blue-400">
    <ion-card-content>
      <h6>{{ cardHeading }}</h6>
      <small>{{ cardSubtitle}}</small>
    </ion-card-content>
    <ion-chip *ngFor="let chip of temperamentoChips" [color]="getChipColor(chip.tipo)">
      {{ chip.tipo }}
    </ion-chip>
    <ion-card-content class="ion-text-start" [innerHTML]="cardContent" *ngFor="let gato of getGatoById(selectedGatoId)">
    
    </ion-card-content>
  </ion-card>  
</ion-content>


