<ion-content [fullscreen]="true">
    <div class="map-container" id="open-modal">
      <div #mapContainer class="map"></div>
    </div>
    <ion-modal 
      #modal
      trigger="open-modal"
      [isOpen]="true"
      [initialBreakpoint]="0.2"
      [backdropDismiss]="false"
      [backdropBreakpoint]="0.5"
      [breakpoints]="[0, 0.1, 0.25, 0.4]">
      <ng-template>
        <button class="absolute top-2 right-0 w-12 text-gray-700 z-50" (click)="dismiss()">
          <ion-icon class="bg-gray-50 text-gray-700 rounded-full text-xl" slot="icon-only" name="close"></ion-icon>
        </button>
      </ng-template>
    </ion-modal>
</ion-content>
