<ion-tabs mode="md">
  <ion-tab-bar slot="bottom" class="border-t border-gray-200">
    <ion-tab-button class="custom"  tab="adoptame" href="/tabs/adoptame">
      <ion-icon name="heart-circle-outline"></ion-icon>
      <ion-label>Adoptame</ion-label>
    </ion-tab-button>

    <ion-tab-button class="custom" tab="home" href="/tabs/home">
      <ion-icon class="icon-tab" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button class="custom"  tab="cuidados" href="/tabs/cuidados">
      <ion-icon name="fitness-outline"></ion-icon>
      <ion-label>Cuidados</ion-label>
    </ion-tab-button>    
    
    <!-- <ion-tab-button class="custom"  tab="maps" href="/tabs/maps">
      <ion-icon name="storefront-outline"></ion-icon>      
      <ion-label>Vets&Shop</ion-label>
    </ion-tab-button> -->
    <ion-tab-button class="custom"  tab="mestizo" href="/tabs/mestizo">
      <ion-icon name="paw"></ion-icon>
      <ion-label>Mestizo</ion-label>
    </ion-tab-button>   
  </ion-tab-bar>
</ion-tabs>
