<ion-header>
  <ion-toolbar>
    <ion-title>{{ newGato.id ? 'Editar Gato' : 'Agregar Gato' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <form #gatoForm="ngForm" (ngSubmit)="newGato.id ? updateGato(gatoForm) : addGato(gatoForm)" novalidate>
          <!-- Raza -->
          <ion-item>
            <ion-label position="stacked">Raza</ion-label>
            <ion-input type="text" [(ngModel)]="newGato.Raza" name="Raza" required placeholder="Ingrese la raza"></ion-input>
          </ion-item>
          <ion-item *ngIf="gatoForm.submitted && !gatoForm.controls['Raza']?.valid" class="error-message">
            <ion-icon name="alert-circle" class="error-icon"></ion-icon>
            <div>La raza es obligatoria.</div>
          </ion-item>
          
          <!-- Origen -->
          <ion-item>
            <ion-label position="stacked">Origen</ion-label>
            <ion-input type="text" [(ngModel)]="newGato.Origen" name="Origen" required placeholder="Ingrese el origen"></ion-input>
          </ion-item>
          <ion-item *ngIf="gatoForm.submitted && !gatoForm.controls['Origen']?.valid" class="error-message">
            <ion-icon name="alert-circle" class="error-icon"></ion-icon>
            <div>El origen es obligatorio.</div>
          </ion-item>

          <!-- Año -->
          <ion-item>
            <ion-label position="stacked">Año</ion-label>
            <ion-input type="text" [(ngModel)]="newGato.Anio" name="Anio" required></ion-input>
          </ion-item>
          <ion-item *ngIf="gatoForm.submitted && !gatoForm.controls['Anio']?.valid" class="error-message">
            <ion-icon name="alert-circle" class="error-icon"></ion-icon>
            <div>El año es obligatorio.</div>
          </ion-item>

          <!-- Imagen del Perfil -->
          <ion-item class="file-upload">
            <ion-label position="stacked">Seleccionar archivo</ion-label>
            <input type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg" />
          </ion-item>
          <!-- Vista previa de la imagen seleccionada -->
          <ion-item *ngIf="imageFile">
            <img [src]="getSelectedImage()" alt="Imagen seleccionada" class="selected-image" />
          </ion-item>
          <!-- Mostrar imagen existente si no se ha seleccionado una nueva -->
          <ion-item *ngIf="!imageFile && newGato.imgPerfil">
            <img [src]="newGato.imgPerfil" alt="Imagen actual" class="current-image" />
          </ion-item>

          <!-- Imágenes -->
          <!-- <ion-item class="form-section">
            <ion-label position="stacked">Imágenes</ion-label>
            <ng-container *ngFor="let file of imageFiles; let i = index">
              <ion-item class="temperamento-item">
                <ion-img [src]="getSelectedImages(i)" alt="Imagen seleccionada" class="selected-image" (click)="openSwiperModal()"></ion-img>
                <ion-button color="danger" (click)="removeImage(i)" fill="clear">Eliminar</ion-button>
              </ion-item>
            </ng-container>
            <input type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg" multiple />
          </ion-item> -->
                    
          <!-- Longevidad -->
          <ion-item>
            <ion-label position="stacked">Longevidad</ion-label>
            <ion-input type="text" [(ngModel)]="newGato.Longevidad" name="Longevidad" required></ion-input>
          </ion-item>
          <ion-item *ngIf="gatoForm.submitted && !gatoForm.controls['Longevidad']?.valid" class="error-message">
            <ion-icon name="alert-circle" class="error-icon"></ion-icon>
            <div>La longevidad es obligatoria.</div>
          </ion-item>

          <!-- Historia -->
          <ion-item>
            <ion-label position="stacked">Historia</ion-label>
            <ion-textarea [(ngModel)]="newGato.Historia" name="Historia" required></ion-textarea>
          </ion-item>
          <ion-item *ngIf="gatoForm.submitted && !gatoForm.controls['Historia']?.valid" class="error-message">
            <ion-icon name="alert-circle" class="error-icon"></ion-icon>
            <div>La historia es obligatoria.</div>
          </ion-item>

          <!-- Temperamento -->
          <ion-item class="temperamento-container">
            <ion-label position="stacked">Temperamento</ion-label>
            <ng-container *ngFor="let temp of newGato.Temperamento; let j = index">
              <ion-item class="temperamento-item">
                <ion-label position="stacked">Tipo</ion-label>
                <ion-input type="text" [(ngModel)]="temp.tipo" name="temperamento-tipo-{{j}}" required></ion-input>
              </ion-item>
              <ion-item class="temperamento-item">
                <ion-label position="stacked">Descripción</ion-label>
                <ion-textarea [(ngModel)]="temp.descripcion" name="temperamento-descripcion-{{j}}" required></ion-textarea>
                <ion-button color="danger" (click)="removeTemperamento(j)" fill="clear">Eliminar</ion-button>
              </ion-item>
            </ng-container>
            <ion-button color="primary" (click)="addTemperamento()" fill="clear">Agregar Temperamento</ion-button>
          </ion-item>
          
          <!-- Alerta si no se han ingresado temperamentos -->
          <ion-item *ngIf="gatoForm.submitted && newGato.Temperamento.length === 0" class="error-message">
            <ion-icon name="alert-circle" class="error-icon"></ion-icon>
            <div>Debe ingresar al menos un temperamento.</div>
          </ion-item>

          <!-- Características Físicas -->
          <ion-item class="form-section">
            <ion-label position="stacked">Características Físicas</ion-label>
            <ng-container *ngFor="let caracteristica of newGato.caracteristicasFisicas; let i = index">
              <ion-item class="temperamento-item">
                <ion-label position="stacked">Tipo</ion-label>
                <ion-input type="text" [(ngModel)]="caracteristica.tipo" name="caracteristica-tipo-{{i}}" required></ion-input>
              </ion-item>
              <ion-item class="temperamento-item">
                <ion-label position="stacked">Descripción</ion-label>
                <ion-textarea [(ngModel)]="caracteristica.descripcion" name="descripcion-{{i}}" required></ion-textarea>
                <ion-button color="danger" (click)="removeCaracteristicaFisica(i)" fill="clear">Eliminar</ion-button>
              </ion-item>
            </ng-container>
            <ion-button color="primary" (click)="addCaracteristicaFisica()" fill="clear">Agregar Característica Física</ion-button>

            <!-- Alerta si no se han ingresado características físicas -->
            <ion-item *ngIf="gatoForm.submitted && newGato.caracteristicasFisicas.length === 0" class="error-message">
              <ion-icon name="alert-circle" class="error-icon"></ion-icon>
              <div>Debe ingresar al menos una característica física.</div>
            </ion-item>
          </ion-item>

          <!-- Cuidados -->
          <ion-item class="form-section">
            <ion-label position="stacked">Cuidados</ion-label>
            <ng-container *ngFor="let cuidado of newGato.Cuidados; let i = index">
              <ion-item class="temperamento-item">
                <ion-label position="stacked">Tipo</ion-label>
                <ion-input type="text" [(ngModel)]="cuidado.tipo" name="tipo-{{i}}" required></ion-input>
              </ion-item>
              <ion-item class="temperamento-item">
                <ion-label position="stacked">Descripción</ion-label>
                <ion-textarea [(ngModel)]="cuidado.descripcion" name="cuidado-{{i}}" required></ion-textarea>
                <ion-button color="danger" (click)="removeCuidado(i)" fill="clear">Eliminar</ion-button>
              </ion-item>
            </ng-container>
            <ion-button color="primary" (click)="addCuidado()" fill="clear">Agregar Cuidado</ion-button>

            <!-- Alerta si no se han ingresado cuidados -->
            <ion-item *ngIf="gatoForm.submitted && newGato.Cuidados.length === 0" class="error-message">
              <ion-icon name="alert-circle" class="error-icon"></ion-icon>
              <div>Debe ingresar al menos un cuidado.</div>
            </ion-item>
          </ion-item>
          <!-- Botón de Enviar -->
          <ion-button type="submit" expand="block" shape="round">
            {{ newGato.id ? 'Actualizar Gato' : 'Agregar Gato' }}
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
