ion-content {
  --background: #f4f5f8;
}

.error-message {
  --background: #ffe3e3;
  --border-color: #f56c6c;
  --border-radius: 8px;
  --padding-start: 16px;
  --padding-end: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;

  .error-icon {
    color: #f56c6c;
  }
}

form {
  padding: 0 20px;
}

ion-item {
  --border-radius: 8px;
  --background: #fff;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --padding-start: 12px;
  margin-bottom: 16px;
}

ion-label {
  color: #495057;
  font-weight: 500;
}

.button {
  --border-radius: 8px;
  margin-top: 20px;
}

/* General Container Styles */
.temperamento-container, .cuidados-container, .caracteristicas-fisicas-container {
  margin-bottom: 24px;
}

.temperamento-item, .cuidado-item, .caracteristica-item {
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  margin-top: 12px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.label-temperamento, .cuidado-item ion-label, .caracteristica-item ion-label {
  color: #6c757d;
}

.btn-remove, .btn-add {
  --border-radius: 20px;
  margin-top: 8px;
  font-size: 0.9rem;
  color: #007bff;
}

.btn-remove:hover, .btn-add:hover {
  background-color: rgba(0, 123, 255, 0.1);
}

.date-container {
  position: relative;
}

.date-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
}

.date-picker {
  display: block;
  margin-top: 8px;
  border: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.file-upload {
  ion-item {
    --background: #fff;
    --border-radius: 8px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --transition: box-shadow 0.3s ease, transform 0.3s ease;
    padding: 16px;
    cursor: pointer;
    position: relative;

    &:hover {
      --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }

    .upload-icon {
      font-size: 1.5rem;
      color: #007bff;
    }
  }
}
