<ion-header>
  <ion-toolbar>
    <ion-title>{{ newPerro.id ? 'Editar Perro' : 'Agregar Perro' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <form #perroForm="ngForm" (ngSubmit)="newPerro.id ? updatePerro(perroForm) : addPerro(perroForm)" novalidate>
          <!-- Raza -->
          <ion-item>
            <ion-label position="stacked">Raza</ion-label>
            <ion-input type="text" [(ngModel)]="newPerro.Raza" name="Raza" required placeholder="Ingrese la raza"></ion-input>
          </ion-item>
          <ion-item *ngIf="perroForm.submitted && !perroForm.controls['Raza']?.valid" class="error-message">
            <ion-icon name="alert-circle" class="error-icon"></ion-icon>
            <div>La raza es obliperroria.</div>
          </ion-item>
          
          <!-- Origen -->
          <ion-item>
            <ion-label position="stacked">Origen</ion-label>
            <ion-input type="text" [(ngModel)]="newPerro.Origen" name="Origen" required placeholder="Ingrese el origen"></ion-input>
          </ion-item>
          <ion-item *ngIf="perroForm.submitted && !perroForm.controls['Origen']?.valid" class="error-message">
            <ion-icon name="alert-circle" class="error-icon"></ion-icon>
            <div>El origen es obliperrorio.</div>
          </ion-item>

          <!-- Año -->
          <ion-item>
            <ion-label position="stacked">Año</ion-label>
            <ion-input type="text" [(ngModel)]="newPerro.Anio" name="Anio" required></ion-input>
          </ion-item>
          <ion-item *ngIf="perroForm.submitted && !perroForm.controls['Anio']?.valid" class="error-message">
            <ion-icon name="alert-circle" class="error-icon"></ion-icon>
            <div>El año es obliperrorio.</div>
          </ion-item>

          <ion-item>
            <ion-label>Imagen de Perfil</ion-label>
            <ion-input type="file" (change)="onFileSelected($event)" accept="image/*"></ion-input>
          </ion-item>
          <ion-img *ngIf="getSelectedImage()" [src]="getSelectedImage()"></ion-img>
      
          <ion-item>
            <ion-label>Imágenes del Perro</ion-label>
            <ion-input type="file" (change)="onFileSelecteds($event)" accept="image/*" multiple></ion-input>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6" *ngFor="let img of selectedImages">
                <ion-img [src]="img"></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>

          <!-- Imagen del Perfil -->
          <!-- <ion-item class="file-upload">
            <ion-label position="stacked">Seleccionar archivo</ion-label>
            <input type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg" />
          </ion-item> -->
          <!-- Vista previa de la imagen seleccionada -->
          <!-- <ion-item *ngIf="imageFile">
            <img [src]="getSelectedImage()" alt="Imagen seleccionada" class="selected-image" />
          </ion-item> -->
          <!-- Mostrar imagen existente si no se ha seleccionado una nueva -->
          <!-- <ion-item *ngIf="!imageFile && newPerro.imgPerfil">
            <img [src]="newPerro.imgPerfil" alt="Imagen actual" class="current-image" />
          </ion-item>      -->

          <!-- Imagen Array -->
          <!-- <ion-item class="file-upload">
            <ion-label position="stacked">Seleccionar archivos</ion-label>
            <input type="file" (change)="onFileSelecteds($event)" accept="image/png, image/jpeg" multiple />
          </ion-item> -->

          <!-- Vista previa de las imágenes seleccionadas -->
          <!-- <ion-row>
            <ion-col size="6" *ngFor="let img of selectedImages">
              <ion-item>
                <img [src]="img" alt="Imagen seleccionada" class="selected-image" />
              </ion-item>
            </ion-col>
          </ion-row> -->

          <!-- Mostrar imagen existente si no se ha seleccionado una nueva -->
          <!-- <ion-row *ngIf="!imagesFiles.length && newPerro.Img && newPerro.Img.length">
            <ion-col size="6" *ngFor="let img of newPerro.Img">
              <ion-item>
                <img [src]="img" alt="Imagen actual" class="current-image" />
              </ion-item>
            </ion-col>
          </ion-row> -->

          <!-- Longevidad -->
          <ion-item>
            <ion-label position="stacked">Longevidad</ion-label>
            <ion-input type="text" [(ngModel)]="newPerro.Longevidad" name="Longevidad" required></ion-input>
          </ion-item>
          <ion-item *ngIf="perroForm.submitted && !perroForm.controls['Longevidad']?.valid" class="error-message">
            <ion-icon name="alert-circle" class="error-icon"></ion-icon>
            <div>La longevidad es obliperroria.</div>
          </ion-item>

          <!-- Historia -->
          <ion-item>
            <ion-label position="stacked">Historia</ion-label>
            <ion-textarea [(ngModel)]="newPerro.Historia" name="Historia" required></ion-textarea>
          </ion-item>
          <ion-item *ngIf="perroForm.submitted && !perroForm.controls['Historia']?.valid" class="error-message">
            <ion-icon name="alert-circle" class="error-icon"></ion-icon>
            <div>La historia es obliperroria.</div>
          </ion-item>

          <!-- Temperamento -->
          <ion-item class="temperamento-container">
            <ion-label position="stacked">Temperamento</ion-label>
            <ng-container *ngFor="let temp of newPerro.Temperamento; let j = index">
              <ion-item class="temperamento-item">
                <ion-label position="stacked">Tipo</ion-label>
                <ion-input type="text" [(ngModel)]="temp.tipo" name="temperamento-tipo-{{j}}" required></ion-input>
              </ion-item>
              <ion-item class="temperamento-item">
                <ion-label position="stacked">Descripción</ion-label>
                <ion-textarea [(ngModel)]="temp.descripcion" name="temperamento-descripcion-{{j}}" required></ion-textarea>
                <ion-button color="danger" (click)="removeTemperamento(j)" fill="clear">Eliminar</ion-button>
              </ion-item>
            </ng-container>
            <ion-button color="primary" (click)="addTemperamento()" fill="clear">Agregar Temperamento</ion-button>
          </ion-item>
          
          <!-- Alerta si no se han ingresado temperamentos -->
          <ion-item *ngIf="perroForm.submitted && newPerro.Temperamento.length === 0" class="error-message">
            <ion-icon name="alert-circle" class="error-icon"></ion-icon>
            <div>Debe ingresar al menos un temperamento.</div>
          </ion-item>

          <!-- Características Físicas -->
          <ion-item class="form-section">
            <ion-label position="stacked">Características Físicas</ion-label>
            <ng-container *ngFor="let caracteristica of newPerro.caracteristicasFisicas; let i = index">
              <ion-item class="temperamento-item">
                <ion-label position="stacked">Tipo</ion-label>
                <ion-input type="text" [(ngModel)]="caracteristica.tipo" name="caracteristica-tipo-{{i}}" required></ion-input>
              </ion-item>
              <ion-item class="temperamento-item">
                <ion-label position="stacked">Descripción</ion-label>
                <ion-textarea [(ngModel)]="caracteristica.descripcion" name="descripcion-{{i}}" required></ion-textarea>
                <ion-button color="danger" (click)="removeCaracteristicaFisica(i)" fill="clear">Eliminar</ion-button>
              </ion-item>
            </ng-container>
            <ion-button color="primary" (click)="addCaracteristicaFisica()" fill="clear">Agregar Característica Física</ion-button>

            <!-- Alerta si no se han ingresado características físicas -->
            <ion-item *ngIf="perroForm.submitted && newPerro.caracteristicasFisicas.length === 0" class="error-message">
              <ion-icon name="alert-circle" class="error-icon"></ion-icon>
              <div>Debe ingresar al menos una característica física.</div>
            </ion-item>
          </ion-item>

          <!-- Cuidados -->
          <ion-item class="form-section">
            <ion-label position="stacked">Cuidados</ion-label>
            <ng-container *ngFor="let cuidado of newPerro.Cuidados; let i = index">
              <ion-item class="temperamento-item">
                <ion-label position="stacked">Tipo</ion-label>
                <ion-input type="text" [(ngModel)]="cuidado.tipo" name="tipo-{{i}}" required></ion-input>
              </ion-item>
              <ion-item class="temperamento-item">
                <ion-label position="stacked">Descripción</ion-label>
                <ion-textarea [(ngModel)]="cuidado.descripcion" name="cuidado-{{i}}" required></ion-textarea>
                <ion-button color="danger" (click)="removeCuidado(i)" fill="clear">Eliminar</ion-button>
              </ion-item>
            </ng-container>
            <ion-button color="primary" (click)="addCuidado()" fill="clear">Agregar Cuidado</ion-button>

            <!-- Alerta si no se han ingresado cuidados -->
            <ion-item *ngIf="perroForm.submitted && newPerro.Cuidados.length === 0" class="error-message">
              <ion-icon name="alert-circle" class="error-icon"></ion-icon>
              <div>Debe ingresar al menos un cuidado.</div>
            </ion-item>
          </ion-item>
          
          <!-- Fecha de Creacion -->
          <ion-item>
          <ion-label position="stacked">Fecha de Creación</ion-label>
          <ion-input readonly [value]="formattedFechaCreacion" (click)="showDatePicker = !showDatePicker"></ion-input>
          <ion-button fill="clear" slot="end" (click)="setCurrentDateTime()">
            <ion-icon name="time"></ion-icon>
          </ion-button>
            <ion-datetime
              *ngIf="showDatePicker"
              displayFormat="DD MMM YYYY HH:mm"
              [(ngModel)]="newPerro.fechaCreacion.isoString"
              (ionChange)="updateFechaCreacion()"
              name="fechaCreacion"
              [min]="getMinDate()"
              [max]="getMaxDate()"
              required>
            </ion-datetime>
          </ion-item>

          <!-- Botón de Enviar -->
          <ion-button type="submit" expand="block" shape="round">
            {{ newPerro.id ? 'Actualizar Perro' : 'Agregar Perro' }}
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
