<ion-content [fullscreen]="true">
  <div class="button-container">
    <ion-button class="center">PetPalooza</ion-button>
  </div>
  <ion-searchbar></ion-searchbar>
  <swiper-container>
    <swiper-slide>
      <ion-card class="card-with-image-and-text">
        <div class="image-container">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        </div>
        <ion-card-header class="text-container">
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      </ion-card>    
    </swiper-slide>
    <swiper-slide>
      <ion-card class="card-with-image-and-text">
        <div class="image-container">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        </div>
        <ion-card-header class="text-container">
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      </ion-card>    
    </swiper-slide>
    <swiper-slide>
      <ion-card class="card-with-image-and-text">
        <div class="image-container">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        </div>
        <ion-card-header class="text-container">
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      </ion-card>    
    </swiper-slide>
  </swiper-container>
  
  <h6>Gatos</h6>
  <swiper-container class="card-container">
    <swiper-slide>
      <ion-row id="Services">
        <ion-col size-lg="1" size-md="2" size-sm="3" size-xs="4">
          <ion-card mode="md">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-card>
        </ion-col>
        <ion-col size-lg="1" size-md="2" size-sm="3" size-xs="4">
          <ion-card mode="md">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-card>
        </ion-col>
        <ion-col size-lg="1" size-md="2" size-sm="3" size-xs="4">
          <ion-card mode="md">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-card>
        </ion-col>
      </ion-row>
    </swiper-slide>
    <swiper-slide>
      <ion-row id="Services">
        <ion-col size-lg="1" size-md="2" size-sm="3" size-xs="4">
          <ion-card mode="md">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-card>
        </ion-col>
        <ion-col size-lg="1" size-md="2" size-sm="3" size-xs="4">
          <ion-card mode="md">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-card>
        </ion-col>
        <ion-col size-lg="1" size-md="2" size-sm="3" size-xs="4">
          <ion-card mode="md">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-card>
        </ion-col>
      </ion-row>
    </swiper-slide>
  </swiper-container>
  <h6>Perros</h6>
  <swiper-container class="card-container">
    <swiper-slide>
      <ion-row id="Services">
        <ion-col size-lg="1" size-md="2" size-sm="3" size-xs="4">
          <ion-card mode="md">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-card>
        </ion-col>
        <ion-col size-lg="1" size-md="2" size-sm="3" size-xs="4">
          <ion-card mode="md">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-card>
        </ion-col>
        <ion-col size-lg="1" size-md="2" size-sm="3" size-xs="4">
          <ion-card mode="md">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-card>
        </ion-col>
      </ion-row>
    </swiper-slide>
    <swiper-slide>
      <ion-row id="Services">
        <ion-col size-lg="1" size-md="2" size-sm="3" size-xs="4">
          <ion-card mode="md">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-card>
        </ion-col>
        <ion-col size-lg="1" size-md="2" size-sm="3" size-xs="4">
          <ion-card mode="md">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-card>
        </ion-col>
        <ion-col size-lg="1" size-md="2" size-sm="3" size-xs="4">
          <ion-card mode="md">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-card>
        </ion-col>
      </ion-row>
    </swiper-slide>
  </swiper-container>
</ion-content>
