.card-with-image-and-text {
    display: flex;
}

.card-with-image-and-text .image-container {
    flex: 0 0 auto;
    margin-right: 16px;
}

.card-with-image-and-text .image-container img {
    max-width: 150px;
    height: auto;
}

.card-with-image-and-text {
    margin-bottom: 10px;
    /* Espacio entre cada tarjeta */
}

.image-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}

.image-container ion-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.large-card {
    margin-bottom: 10px;
}

.small-card {
    margin-bottom: 10px;
    /* Espaciado entre cada tarjeta */
}

.small-image {
    width: 100%;
    /* Ajusta el ancho al 100% del contenedor */
    height: auto;
    /* Mantén la proporción de aspecto */
    max-height: 100px;
    /* Establece la altura máxima */
}

.ver-mas-button {
    color: black;
    margin-left: auto;
}

.card-container {
    width: 100%;
}

.swiper-slide {
    width: 100%;
    /* Ajusta el ancho de cada slide al 100% */
}

.swiper-container {
    width: 100%;
    /* Ajusta el ancho del contenedor del swiper al 100% */
}

h6 {
    font-size: 1.2em;
    /* Tamaño de fuente más grande */
    font-weight: bold;
    /* Texto en negrita */
    font-family: Arial, sans-serif;
    /* Familia de fuente preferida */
    margin-bottom: 10px;
    /* Espaciado inferior para separar el texto del contenido siguiente */
}