<ion-header class="bg-white shadow-none border-b border-gray-200">
  <div class="flex gap-2 items-center mx-3 my-2">
    <img 
      class="max-h-14 mx-auto"
      alt="logo PetPalooza" 
      src="assets/img/logo/PetPalooza.png" 
    />
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="bg-gray-50">
  <div class="flex flex-row items-center">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <div class=" w-full rounded-[20px] px-8 pt-4 text-center">
        <h1 class="pb-2 text-3xl font-semibold">Pon aprueba tus conocimientos </h1>
        <!-- <span class="bg-blue-400 mx-auto mb-4 inline-block h-1 w-[90px] rounded"></span> -->
        <small class="text-sm text-center tracking-widest ">Categoria razas</small>

      </div>
    </div>
  <section class="max-w-5xl w-full mx-auto">    
      <!-- Skeleton de carga -->
      <div *ngIf="isLoading" class=" space-y-4 p-4 animate-pulse" >
        <div class="w-full h-72 bg-gray-300 rounded"></div>
        <div class="h-6 w-3/4 bg-gray-300 mx-auto rounded"></div>
        <div class="grid grid-cols-2 gap-2">
          <div class="h-20 bg-gray-300 rounded-md"></div>
          <div class="h-20 bg-gray-300 rounded-md"></div>
          <div class="h-20 bg-gray-300 rounded-md"></div>
          <div class="h-20 bg-gray-300 rounded-md"></div>
        </div>
      </div>
      <!-- End Skeleton de carga -->
      <div *ngIf="!isLoading && currentQuestion" class="question-container py-4 px-2 mt-4" [ngClass]="{'fade-in': animate}" >
        <img [src]="currentQuestion.imageUrl" class="w-full h-96 object-cover rounded-sm"/>
        <p class="bg-gray-50 text-3xl font-semibold py-2 text-black text-center" >
          {{ currentQuestion.question }}
        </p>

        <div class="bg-gray-50 mt-2 ">
          <div class="grid grid-cols-2 md:grid-cols-2 gap-2">
            <button class="rounded-md px-4 py-2 items-center w-full h-20 overflow-y-auto bg-sky-400 text-gray-50 text-lg cursor-pointer hover:scale-105 duration-100"
              *ngFor="let option of currentQuestion.options; index as i"
              (click)="selectOption(i)"
              [ngClass]="{
                'bg-green-400 animate-correct': showAnswerFeedback && isCorrectAnswer && selectedOptionIndex === i,
                'bg-red-400 animate-wrong': showAnswerFeedback && !isCorrectAnswer && selectedOptionIndex === i,
                'bg-sky-400': !showAnswerFeedback
              }"
            [disabled]="showAnswerFeedback"
            >
              {{ option.option }}
            </button>
          </div>
        </div>
      </div>

    <ion-text class="ion-padding">
      Pregunta {{ currentQuestionIndex + 1 }} de {{ questionsTrivia.length }}
    </ion-text>

  <div *ngIf="showFinalResult"
  class="animate-fade-in absolute top-10 inset-0 w-full h-full bg-gray-50 rounded-xl text-center p-4 mt-10"
  >
        <h2 class="text-2xl font-bold text-sky-600 mb-4">Resultado Final</h2>
        <img *ngIf="finalGif" [src]="finalGif" alt="Resultado" class="mx-auto rounded-lg mt-4 w-48 h-48 object-cover shadow-lg mb-2" />
        <p class="text-xl mb-2 mt-1">{{ finalMessage }}</p>
        <p class="text-lg text-gray-700 mb-4">Puntaje: {{ score }} / {{ questionsTrivia.length }}</p>
        <button (click)="restartQuiz()" class="bg-sky-500 hover:bg-sky-600 text-white py-2 px-6 rounded-xl mt-4">
          Volver a Intentar
        </button>

  </div>

  </section>


</ion-content>
