<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menú</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item routerLink="/pets" routerDirection="root">
            <ion-icon slot="start" name="paw"></ion-icon>
            <ion-label>Mascotas</ion-label>
          </ion-item>
          <ion-item routerLink="/fun-facts" routerDirection="root">
            <ion-icon slot="start" name="paper-plane"></ion-icon>
            <ion-label>Datos Curiosos</ion-label>
          </ion-item>
          <ion-item routerLink="/foundations" routerDirection="root">
            <ion-icon slot="start" name="business"></ion-icon>
            <ion-label>Fundaciones</ion-label>
          </ion-item>
          <ion-item routerLink="/img-users" routerDirection="root">
            <ion-icon slot="start" name="images"></ion-icon>
            <ion-label>Imagenes de Mascotas</ion-label>
          </ion-item>
          <ion-item routerLink="/maps" routerDirection="root">
            <ion-icon slot="start" name="map"></ion-icon>
            <ion-label>Mapa</ion-label>
          </ion-item>
          <!-- Añade más elementos de menú aquí -->
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-router-outlet></ion-router-outlet>
    </div>
  </ion-split-pane>
</ion-app>
