<ion-header>
  <ion-toolbar>
    <ion-title>Resultados de la búsqueda</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-searchbar class="search-bar" placeholder="Buscar" (ionInput)="filterBreeds($event)"></ion-searchbar>
    <ion-card-content>
      <ion-list *ngIf="filteredRazas.length > 0; else noPets">
        <ion-item *ngFor="let raza of filteredRazas">
          <ion-thumbnail slot="start">
            <ion-img class="small-image" [src]="raza.imgPerfil" alt="Imagen de {{ raza.Raza }}"></ion-img>
          </ion-thumbnail>
          <ion-label>{{ raza.Raza }}</ion-label>
          <ion-icon (click)="navigateToProfile(raza.id)" name="arrow-forward-circle-outline" color="secondary"></ion-icon>
        </ion-item>
      </ion-list>
      <ng-template #noPets>
        <p>No hay razas actualmente</p>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
