<ion-header class="bg-white shadow-none border-b border-gray-200">
  <div class="flex gap-2 items-center mx-3 my-2">
    <img 
      class="max-h-14 mx-auto"
      alt="logo PetPalooza" 
      src="assets/img/logo/PetPalooza.png" 
    />
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="px-3 py-5 bg-gray-50">
    <section class="max-w-md w-full mx-auto">
      <div class="w-full max-w-[570px] rounded-[20px] px-8 pt-4 text-center">
        <h1 class="pb-2 text-3xl font-medium">Cuidados Generales </h1>
        <span class="bg-blue-400 mx-auto mb-4 inline-block h-1 w-[90px] rounded"></span>
      </div>
    </section>
    <!-- <section>
      <div class="mt-4 mx-8 flex flex-col md:flex-row h-60 gap-3">
        <article class="flex flex-row shadow-lg rounded-2xl hover:shadow-2xl hover:scale-105 duration-150 backdrop-brightness-200 bg-[rgb(41,49,79)] h-24  px-3 group">
          <div class="flex flex-row overflow-hidden">
            <div class="flex flex-col justify-end text-start mb-3">
              <h3 class="mt-14 text-gray-50 text-base">Perros</h3>
              <small class="text-gray-100 text-[12px]">Todos sus cuidados</small>
            </div>
            <div class="translate-y-2 group-hover:translate-y-4 duration-300 overflow-hidden">
              <img class="w-28 drop-shadow-2xl" src="../../assets/img/cuidados/perro.webp"/>
            </div>
          </div>
        </article>
        <article class="flex flex-row shadow-lg rounded-2xl hover:shadow-2xl hover:scale-105 duration-150 backdrop-brightness-200 bg-blue-400 h-24 px-3 group">
          <div class="flex flex-row overflow-hidden">
            <div class="translate-y-0 group-hover:translate-y-3 duration-300 w-32 overflow-hidden">
              <img class="h-28 w-36 drop-shadow-2xl" src="../../assets/img/cuidados/gato.webp"/>
            </div>
            <div class="flex flex-col justify-end text-end mb-3">
              <h3 class="mt-14 text-gray-50 text-base">Gatos</h3>
              <small class="text-gray-100 text-[12px]">Todos sus cuidados</small>
            </div>
          </div>
        </article>     
      </div>
    </section> -->
    <!--ads local--> 
    <div id="myAds" class="grid grid-cols-3 gap-3 h-36">
      <article class="relative bg-gray-200 w-full h-full sm:h-40 drop-shadow-xl" *ngFor="let imgs of img; let i = index">
        <a [href]="imgs.web" target="_blank" rel="noopener noreferrer">
          <img [src]="imgs.img" alt="ad1" class="object-cover rounded-md w-full h-full">
        </a>
        <div class="group grid grid-cols-3 gap-0 duration-500 relative">
          <h1
            class="absolute z-10 cursor-pointer menu-icon"
            [class.hidden]="showIcons[i]"
            (click)="toggleIcons(i)"
          >
            <svg
              viewBox="0 0 24 24"
              fill="none"
              height="24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="w-7 h-7 text-blue-500 bg-gray-50 rounded-full p-2"
            >
              <path
                d="M5 7h14M5 12h14M5 17h14"
                stroke-width="2"
                stroke-linecap="round"
                stroke="currentColor"
              ></path>
            </svg>
          </h1>
          <h1
            class="absolute z-10 cursor-pointer close-icon"
            [class.hidden]="!showIcons[i]"
            (click)="toggleIcons(i)"
          >
            <svg
              viewBox="0 0 24 24"
              fill="none"
              height="24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="w-7 h-7 text-blue-500 bg-gray-50 rounded-full p-2"
            >
              <path
                d="M6 18L18 6M6 6l12 12"
                stroke-width="2"
                stroke-linecap="round"
                stroke="currentColor"
              ></path>
            </svg>
          </h1>
          <div class="flex flex-row gap-1">
            <a *ngIf="showIcons[i]" [href]="imgs.facebook" target="_blank" rel="noopener noreferrer">
              <ion-icon name="logo-facebook"
                class="w-4 h-4 p-2 bg-white/50 hover:bg-sky-500 backdrop-blur-md drop-shadow-lg flex justify-center items-center  text-blue-500 hover:text-white duration-200 rounded-full"
              ></ion-icon>
            </a>
            <a *ngIf="showIcons[i]" [href]="imgs.instagram" target="_blank" rel="noopener noreferrer">
              <ion-icon name="logo-instagram"
                class="w-4 h-4 p-2 bg-white/50 hover:bg-sky-500 backdrop-blur-md drop-shadow-lg flex justify-center items-center  text-blue-500 hover:text-white duration-200 rounded-full"
              ></ion-icon>
            </a>
            <a *ngIf="showIcons[i]" [href]="imgs.whatsapp" target="_blank" rel="noopener noreferrer">
              <ion-icon name="logo-whatsapp"
                class="w-4 h-4 p-2 bg-white/50 hover:bg-sky-500 backdrop-blur-md drop-shadow-lg flex justify-center items-center  text-blue-500 hover:text-white duration-200 rounded-full"
              ></ion-icon>
            </a>
          </div>

        </div>
      </article>
    </div>
    <!-- <div id="myAds" class="grid grid-cols-3 gap-3 h-36 my-3 mb-8">
      <article class="bg-gray-200 w-full h-full rounded-lg overflow-hidden" *ngFor="let imgs of img">
        <a [href]="imgs.instagram" target="_blank" rel="noopener noreferrer">
          <img [src]="imgs.img" alt="ad1" class="object-cover w-full h-full">
        </a>
      </article>
    </div> -->
    <section class="my-3 mt-12">
      <div class="border-b border-gray-200 pb-2 bg-white mx-3">
        <ion-segment mode="ios" [(ngModel)]="selectedSegment" (ionChange)="changeCardContent(selectedSegment)" class="rounded-lg mb-3">
          <ion-segment-button value="Controles" [checked]="selectedSegment === 'Controles'">
              <ion-icon name="today-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="Enfermedades" [checked]="selectedSegment === 'Enfermedades'">
            <ion-icon name="thermometer-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="Dieta" [checked]="selectedSegment === 'Dieta'">
            <ion-icon name="fast-food-outline"></ion-icon>
          </ion-segment-button>
        </ion-segment>
        <article class="p-2 px-3" *ngIf="cardHeading || cardSubtitle || cardContent">
          <div>
            <h4 class="font-bold text-xl mt-3 text-gray-700 text-center">{{ cardHeading }}</h4>
            <small class="text-gray-600 text-sm" *ngIf="cardSubtitle">{{ cardSubtitle }}</small>
          </div>
          
          <p [innerHTML]="cardContent" class="text-gray-500 text-sm"></p>
        </article>
      </div>
    </section>
  </div>
</ion-content>
