<ion-header [translucent]="true">
  <div class="flex gap-2 items-center mx-3 my-2">
    <img 
      class="max-h-14 mx-auto"
      alt="logo PetPalooza" 
      src="assets/img/logo/PetPalooza.png" 
    />
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="px-3 py-5 bg-gray-50">
    <section class="max-w-md w-full mx-auto">
      <div class="w-full max-w-[570px] rounded-[20px] px-8 pt-4 text-center">
        <h1 class="pb-2 text-3xl font-medium">Cuidados Generales </h1>
        <span class="bg-blue-400 mx-auto mb-4 inline-block h-1 w-[90px] rounded"></span>
      </div>
    </section>
    <!-- <section>
      <ion-segment value="all" class="gap-2 active:border-none" >
        <ion-segment-button class="bg-blue-200 rounded-md" value="all">
          <ion-label>Todo</ion-label>
        </ion-segment-button>
        <ion-segment-button class="bg-blue-200 rounded-md" value="dog">
          <ion-label>Perros</ion-label>
        </ion-segment-button>
        <ion-segment-button class="bg-blue-200 rounded-md" value="cat">
          <ion-label>Gatos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </section> -->

    <section>
      <div class="mt-4 mx-8 flex flex-col md:flex-row h-72 gap-3">
        <article class="flex flex-row shadow-lg rounded-2xl hover:shadow-2xl hover:scale-105 duration-150 backdrop-brightness-200 bg-[rgb(41,49,79)] h-24  px-3 group">
          <div class="flex flex-row overflow-hidden">
            <div class="flex flex-col justify-end text-start mb-3">
              <h3 class="mt-14 text-gray-50 text-base">Perros</h3>
              <small class="text-gray-100 text-[12px]">Todos sus cuidados</small>
            </div>
            <div class="translate-y-2 group-hover:translate-y-4 duration-300 overflow-hidden">
              <img class="w-28 drop-shadow-2xl" src="../../assets/img/cuidados/perro.webp"/>
            </div>
          </div>
        </article>
        <article class="flex flex-row shadow-lg rounded-2xl hover:shadow-2xl hover:scale-105 duration-150 backdrop-brightness-200 bg-blue-400 h-24 px-3 group">
          <div class="flex flex-row overflow-hidden">
            <div class="translate-y-0 group-hover:translate-y-3 duration-300 w-32 overflow-hidden">
              <img class="h-28 w-36 drop-shadow-2xl" src="../../assets/img/cuidados/gato.webp"/>
            </div>
            <div class="flex flex-col justify-end text-end mb-3">
              <h3 class="mt-14 text-gray-50 text-base">Gatos</h3>
              <small class="text-gray-100 text-[12px]">Todos sus cuidados</small>
            </div>
          </div>
        </article>     
      </div>
    </section>

    <section>
      <div class="border-b border-gray-200 pb-2 bg-white mx-3">
        <ion-segment mode="ios" value="control">
          <ion-segment-button value="control">
            <ion-icon name="today-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="heal">
            <ion-icon name="thermometer-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="diet">
            <ion-icon name="fast-food-outline"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </div>

    </section>
  </div>
</ion-content>
