<ion-header [translucent]="true">
  <ion-toolbar class="border-b border-gray-200">
    <div class="flex gap-2 items-center justify-center mx-3">
      <img 
        class="max-h-14 my-1"
        alt="logo PetPalooza" 
        src="assets/img/logo/PetPalooza.png" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" aria-hidden="false">
  <div class="bg-gray-50">
    <!-- profile mestiz -->
    <div class="bg-blue-100 pt-20 pb-6 px-3 min-h-[93vh]">
      <div class="relative mx-auto md:max-w-2xl min-w-0 break-words bg-white w-full shadow-lg rounded-xl pb-3">
        <div class="relative">
          <div class="absolute z-50 top-5 right-8 md:top-6 md:right-20">
            <button type="button" class="bg-gray-200 p-2 text-gray-500 rounded-full">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pencil"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" /><path d="M13.5 6.5l4 4" /></svg>
            </button>                      
          </div>
          <div class="flex flex-wrap justify-center">
            <div class="w-full flex justify-center" >
              <div class="relative">
                <img src="https://firebasestorage.googleapis.com/v0/b/petpalooza-63384.appspot.com/o/Perro%2FBulldog%20franc%C3%A9s%2Fimagenes%2FBgFrances6.webp?alt=media&token=fa99ca55-b265-4fbf-9c04-c0b3456b1c2e"
                 class="shadow-xl rounded-full align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-[150px] max-h-[150px] h-[150px] w-[150px] object-cover object-center"/>
              </div>
            </div>
            <div class="w-full text-center mt-24">
              <h3 class="text-2xl text-slate-700 font-bold leading-normal mb-1">Max</h3>
              <div class="text-xs mt-0 mb-2 text-slate-400 font-bold uppercase">Chile</div>
            </div>
          </div>
          <div class="mt-2 py-3 text-center px-2">
            <div class="flex flex-wrap justify-center items-center gap-2">
                <ion-buttons class="font-light text-sm leading-relaxed rounded-xl text-slate-600 mb-4 p-2 px-3 border-2 border-primary cursor-pointer" routerLink="/mestizo-form" >Agregar 
                  <ion-icon name="paw" class="text-base m-1"></ion-icon>
                </ion-buttons>
            </div>
          </div>
          <div class="bg-blue-100 text-center flex flex-row items-center max-h-36 p-4 px-6"> 
              <div class="relative text-center flex justify-center">
                <img src="https://cdn.icon-icons.com/icons2/1999/PNG/512/avatar_man_people_person_profile_user_icon_123385.png"
                 class="shadow-xl rounded-full align-middle border-none  max-w-[150px] max-h-[150px] h-[80px] w-[80px] object-cover object-center"/>
              </div>     
              <div class="w-full">
                <p class="text-xl font-semibold leading-relaxed text-slate-700">Fabian Astete</p>
                <small class="font-light leading-relaxed text-slate-400 text-sm">Dueño</small>
              </div>      
          </div>
          <div>
            <div class=" mt-8 m-2 mx-4">
              <h4 class="text-slate-600 font-bold uppercase ">Mis mascotas</h4>
            </div>
            <div class="grid grid-cols-2 gap-3 py-3 px-4 w-full">
              <!-- Skeleton for each card -->
              <div class="h-max rounded-xl overflow-hidden border border-gray-300 shadow-lg" *ngFor="let item of [1, 2, 3, 4]">
                <ion-card class="m-0 h-44 relative">
                  <!-- Imagen skeleton -->
                  <ion-skeleton-text class="h-full w-full"></ion-skeleton-text>
                  <ion-card-header class="p-2 h-full w-full bg-gradient-to-b from-transparent from-40% via-black/50 to-black/80">
                    <!-- Skeleton text for title -->
                    <ion-skeleton-text animated style="width: 80%; height: 16px;"></ion-skeleton-text>
                    <!-- Skeleton text for subtitle -->
                    <ion-skeleton-text animated style="width: 60%; height: 12px;" class="mt-1"></ion-skeleton-text>
                  </ion-card-header>
                </ion-card>
              
              </div>
            </div>
          </div>
       
        </div>  
      </div>
    </div>
  </div>
</ion-content> 
