<ion-header [translucent]="true">
  <ion-toolbar class="border-b border-gray-200">
    <div class="flex gap-2 items-center justify-center mx-3">
      <img 
        class="max-h-14 my-1"
        alt="logo PetPalooza" 
        src="assets/img/logo/PetPalooza.png" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" aria-hidden="false">
  <div class="bg-gray-50">
    <!-- profile mestiz -->
    <div class="bg-blue-100 pt-20 pb-6 px-3 min-h-[93vh]">
      <div class="relative mx-auto md:max-w-2xl min-w-0 break-words bg-white w-full shadow-lg rounded-xl pb-3">
        <div class="relative">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
          <div class="flex flex-wrap justify-center">
            <div class="w-full flex justify-center">
              <div class="relative">
                <img *ngIf="mestizos.length > 0"
                     [src]="mestizos[0].imagenMascota[0]" 
                     class="shadow-xl rounded-full align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-[150px] max-h-[150px] h-[150px] w-[150px] object-cover object-center"/>
              </div>
            </div>
            <div class="w-full text-center mt-24">
              <h3 *ngIf="mestizos.length > 0" class="text-2xl text-slate-700 font-bold leading-normal mb-1">{{ mestizos[0].nombre }}</h3>
            </div>
          </div>          
          <div class="mt-2 py-3 text-center px-2">
            <div class="flex flex-wrap justify-center items-center gap-2">
              <ion-buttons class="font-light text-sm leading-relaxed rounded-xl text-slate-600 mb-4 p-2 px-3 border-2 border-primary cursor-pointer" routerLink="/mestizo-form">
                Agregar 
                <ion-icon name="paw" class="text-base m-1"></ion-icon>
              </ion-buttons>              
            </div>
          </div>
          <div class="bg-blue-100 text-center flex flex-row items-center max-h-36 p-4 px-6">
            <div class="relative text-center flex justify-center">
              <img *ngIf="user?.imagen; else defaultImage"
                   [src]="user?.imagen"
                   class="shadow-xl rounded-full align-middle border-none max-w-[150px] max-h-[150px] h-[80px] w-[80px] object-cover object-center"/>
              <ng-template #defaultImage>
                <img src="https://cdn.icon-icons.com/icons2/1999/PNG/512/avatar_man_people_person_profile_user_icon_123385.png"
                     class="shadow-xl rounded-full align-middle border-none max-w-[150px] max-h-[150px] h-[80px] w-[80px] object-cover object-center"/>
              </ng-template>
            </div>
            <div class="w-full">
              <p class="text-xl font-semibold leading-relaxed text-slate-700">{{ user?.nombre }} {{ user?.apellido }}</p>
              <small class="font-light leading-relaxed text-slate-400 text-sm">Dueño</small>
            </div>
          </div>          
          <div>
            <div class="mt-8 m-2 mx-4">
              <h4 class="text-slate-600 font-bold uppercase">Mis mascotas</h4>
            </div>
            <div class="grid grid-cols-2 gap-3 py-3 w-full">
              <!-- Skeleton Loader when mestizos is empty -->
              <ng-container *ngIf="mestizos.length === 0">
                <div *ngFor="let _ of [].constructor(4)" class="h-max rounded-xl overflow-hidden border border-blue-300 shadow-lg relative">
                  <ion-card class="m-0 h-44 relative group" mode="ios">
                    <ion-skeleton-text class="h-full w-full"></ion-skeleton-text>
                    <ion-card-header class="p-2 h-full w-full bg-gradient-to-b from-transparent from-40% via-black/50 to-black/80">
                      <ion-skeleton-text animated style="width: 80%; height: 20px;"></ion-skeleton-text>
                      <ion-skeleton-text animated style="width: 60%; height: 15px;" class="mt-1"></ion-skeleton-text>
                    </ion-card-header>
                  </ion-card>
                </div>
              </ng-container>
              <!-- Display Pet Details once data is loaded -->
              <div *ngFor="let mestizo of mestizos" class="h-max rounded-xl overflow-hidden border border-blue-300 shadow-lg relative">
                <ion-card class="m-0 h-44 relative group" mode="ios">
                  <img 
                    class="h-full w-full object-cover object-center absolute top-0 left-0 transition-all duration-300 group-hover:scale-110" 
                    alt="Imagen de {{ mestizo.nombre }}" 
                    [src]="mestizo.imagenMascota[0]" 
                  />
                  <ion-card-header class="p-2 h-full w-full bg-gradient-to-b from-transparent from-40% via-black/50 to-black/80">
                    <ion-card-title class="text-white">{{ mestizo.nombre }}</ion-card-title>
                    <ion-card-subtitle class="text-gray-200">{{ mestizo.apodo }}</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </div>
            </div>
          </div>              
        </div>  
      </div>
    </div>
  </div>
</ion-content> 
