<ion-content [fullscreen]="true">
  <div></div>
  <div class="background"></div>
  <ion-toolbar>
    <div class="button-container">
      PetPalooza
    </div>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <swiper-container navigation *ngFor="let perro of getPerroById(selectedPerroId)">
    <swiper-slide class="centered-slide" *ngFor="let img of getImagesArray(perro)">
      <ion-card mode="md" class="card">
        <ion-img (click)="openModal(img)"  [src]="img" [alt]="'Imagen de ' + perro.Raza" style="width: 360; height: 440;"></ion-img>
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <ion-segment mode="ios" [(ngModel)]="selectedSegmentValue" (ionChange)="changeCardContent(selectedSegmentValue)" style="margin-bottom: 20px ;padding: 2px 3px 3px 2px;">
    <ion-segment-button value="origen" [checked]="selectedSegmentValue === 'origen'">
      <!-- <ion-label>Origen</ion-label> -->
      <ion-icon name="flask-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="caracteristicas" [checked]="selectedSegmentValue === 'caracteristicas'">
      <!-- <ion-label>Caracteristicas Fisicas</ion-label> -->
      <ion-icon name="paw-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="temperamento" [checked]="selectedSegmentValue === 'temperamento'">
      <!-- <ion-label>Temperamento</ion-label> -->
      <ion-icon name="leaf-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="cuidado" [checked]="selectedSegmentValue === 'cuidado'">
      <!-- <ion-label>Cuidado y Salud</ion-label> -->
      <ion-icon name="fitness-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-card style="margin-bottom: 5px; padding: 2px; text-align: center;">
    <ion-card-content>
      <h6>{{ cardHeading }}</h6>
      <small>{{ cardSubtitle}}</small>
    </ion-card-content>
    <ion-chip *ngFor="let chip of temperamentoChips" [color]="getChipColor(chip.tipo)">
      {{ chip.tipo }}
    </ion-chip>
    <ion-card-content class="ion-text-start" [innerHTML]="cardContent"></ion-card-content>
  </ion-card>

</ion-content>
