<ion-header class="bg-white shadow-none border-b border-gray-200">
  <a href="/" class="flex gap-2 items-center mx-3 my-2">
    <img 
      class="max-h-14 mx-auto"
      alt="logo PetPalooza" 
      src="assets/img/logo/PetPalooza.png" 
    />
  </a>
</ion-header>

<ion-content [fullscreen]="true" class="asistente-content">
  <div class="iframe-wrapper">
    <iframe
      [src]="chatUrl"
      class="chat-frame"
      allow="clipboard-write"
      title="VetAssistant AI Chat">
    </iframe>
  </div>
</ion-content>
