<ion-content class="" [fullscreen]="true">

 <!--  <div class="max-w-[450px] mx-auto">
    <img class="rounded-b-3xl max-h-[60vh] object-cover mx-auto w-full" src="../../assets/img/imgPerro/Bóxer/Boxer.jpg" alt="Welcome Image">
    <div class="w-full rounded-[20px] py-12 px-8 text-center md:py-[60px] md:px-[70px] mx-auto">
      <h3 class="text-gray-900 pb-2 text-xl font-bold sm:text-2xl">¡Bienvenido a PetPalooza!</h3>
      <span class="bg-blue-500 mx-auto mb-6 inline-block h-1 w-[90px] rounded"></span>
      <p class="text-gray-500 mb-2 text-base leading-relaxed">
        Explora y aprende sobre una variedad de mascotas: cuidados, temperamentos y más con PetPalooza.
      </p>

      <ion-button fill="clear" class="text-white px-1 rounded-xl bg-blue-400 hover:bg-blue-500 transition-colors" (click)="dismiss()">Comenzar</ion-button>
    </div>
  </div> -->
  <!-- <ion-button expand="full" (click)="dismiss()" fill="clear" class="ver-mas-button">Comenzar</ion-button> -->

  <div class="mx-auto min-h-screen relative flex items-end bg-white">

    <img class="w-full object-cover" src="../../assets/img/backgrounds/animal2.jpg" alt="Welcome Image">
    
    <div class="w-full rounded-[20px] py-12 px-8 text-center md:py-[60px] md:px-[70px] mx-auto absolute top-[3%]">
      <div class="flex justify-center mb-5">
        <img class="w-32 object-cover rounded-full" src="../../assets/img/logo/PetPalooza.png" alt="Welcome Image">
      </div>

      <div class="bg-white/50 rounded-lg py-5 px-2">
        <h3 class="text-gray-900 pb-2 text-xl font-bold sm:text-2xl">¡Bienvenido a PetPalooza!</h3>
        <span class="bg-blue-500 mx-auto mb-6 inline-block h-1 w-[90px] rounded"></span>
        <p class="text-gray-500 mb-2 text-base leading-relaxed">
          Explora y aprende sobre una variedad de mascotas: cuidados, temperamentos y más con PetPalooza.
        </p>
  
        <ion-button fill="clear" class="text-white px-1 rounded-xl bg-blue-400 hover:bg-blue-500 transition-colors" (click)="dismiss()">Comenzar</ion-button>
      </div>
      
    </div>
  </div>
  
</ion-content>
