.welcome-image {
    text-align: center;
}

ion-button {
    margin-top: 20px;
}

.ver-mas-button {
    background-color: var(--ion-color-secondary);
    color: white;
    margin: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: start;
}