@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.button-container {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: 'CustomFontBlack';
  src: url('../src/assets/fonts/roboto/Roboto-Black.ttf');
}

@font-face {
  font-family: 'CustomFontMedium';
  src: url('../src/assets/fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'CustomFontThin';
  src: url('../src/assets/fonts/roboto/Roboto-Thin.ttf');
}

* {
  font-family: "CustomFontMedium";
}

html, body {
  background: transparent !important;
}

ion-content {
  --background: transparent !important;
}

.btn-trivia {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.8rem;
  padding-inline: 0.8rem;
  background-color: rgb(0 107 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  // font-size: 15px;
}

.icon {
  width: 25px;
  height: 25px;
  transition: all 0.3s ease-in-out;
}

.btn-trivia {
  transform: scale(1.05);
  // border-color: #fff9;
}

// .btn-trivia .icon {
//   transform: translate(4px);
// }

.btn-trivia::before {
  animation: shine 1.5s ease-out infinite;
}

.btn-trivia::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}