.button-container {
    --font-family: 'CustomFontMedium';
    color: var(--ion-color-light);
    background-color: var(--ion-color-secondary);
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 25px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button-container:hover {
    -webkit-box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.2);
    transition: 400ms ease;
}

.search-bar {
    --border-radius: 25px !important;
}

.card-with-image-and-text {
    display: flex;
}

.card-with-image-and-text .image-container {
    flex: 0 0 auto;
    margin-right: 16px;
}

.card-with-image-and-text .image-container img {
    max-width: 150px;
    height: auto;
}

.card-with-image-and-text {
    margin-bottom: 10px;
}

.image-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}

.image-container ion-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.large-card {
    margin-bottom: 10px;
}

.small-card {
    margin-bottom: 10px;
    max-height: 500px;
    height: 460px;
    -webkit-box-shadow: 0px 5px 8px 7px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 5px 8px 7px rgba(0, 0, 0, 0.21);
}

.small-image {
    width: 100%;
    height: 650px;
    max-height: 65%;
    object-fit: cover;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.small-image:hover {
    transform: scale(1.10);

}

.ver-mas-button {
    background-color: #60a5fa;
    color: white;
    border-radius: 0.75rem;
}

.redirect {
    --padding-bottom: 0.75rem;
    --padding-end: 2.5rem;
    --padding-start: 2.5rem;
    --padding-top: 0.75rem;
}

h6 {
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    margin-left: 10px;

}

ion-searchbar.custom {
    --background: #fff;
    --color: #2563eb;
    --placeholder-color: #2563eb;
    --icon-color: #2563eb;

    --border-radius: 0.5rem;
    /* --box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1); */

}

ion-segment-button {
    --indicator-color: #60a5fa;
}

/* iOS styles */
ion-segment-button.ios {
    --color: #60a5fa;
    --color-checked: #fff;
    --border-radius: 20px;
}

.heart-icon {
    width: 3rem;
    height: 3rem;
}

.ion-content-scroll-host::before,
.ion-content-scroll-host::after {
    position: absolute;

    width: 1px;
    height: 1px;

    content: "";
}

.ion-content-scroll-host::before {
    bottom: -1px;
}

.ion-content-scroll-host::after {
    top: -1px;
}

ion-tab-button {
    --padding-start: 0.25rem;
    --padding-end: 0.25rem;
}

/* Ejemplo de estilos CSS para la tarjeta */
ion-card {
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-card-content {
    padding: 10px;
}

.group {
    position: relative;
  }
  
  .group .menu-icon {

    top: 2px; 
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.close-icon {
    position: absolute;
    bottom: 40px; 
    left: 50%;
    transform: translateX(-50%);
  }
  
  .hidden {
    display: none;
  }
  
  .group  a ion-icon {
    display: flex;
    align-items: center;
    // opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

.group  a ion-icon.ng-enter-active,
.group  a ion-icon.ng-leave-active {
    opacity: 1;
    transform: translateY(0);
}