.button-container {
    --font-family: 'CustomFontMedium';
    color: var(--ion-color-light);
    background-color: var(--ion-color-secondary);
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 25px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button-container:hover {
    -webkit-box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.2);
    transition: 400ms ease;
}

.search-bar {
    --border-radius: 25px !important;
}

.card-with-image-and-text {
    display: flex;
}

.card-with-image-and-text .image-container {
    flex: 0 0 auto;
    margin-right: 16px;
}

.card-with-image-and-text .image-container img {
    max-width: 150px;
    height: auto;
}

.card-with-image-and-text {
    margin-bottom: 10px;
}

.image-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}

.image-container ion-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.large-card {
    margin-bottom: 10px;
}

.small-card {
    margin-bottom: 10px;
    max-height: 500px;
    height: 460px;
    -webkit-box-shadow: 0px 5px 8px 7px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 5px 8px 7px rgba(0, 0, 0, 0.21);
}

.small-image {
    width: 100%;
    height: 650px;
    max-height: 65%;
    object-fit: cover;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.small-image:hover {
    transform: scale(1.10);

}

.ver-mas-button {
    background-color: #60a5fa;
    color: white;
    border-radius: 0.75rem;
}

.redirect {
    --padding-bottom: 0.75rem;
    --padding-end: 2.5rem;
    --padding-start: 2.5rem;
    --padding-top: 0.75rem;
}

h6 {
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    margin-left: 10px;

}

ion-searchbar.custom {
    --background: #fff;
    --color: #2563eb;
    --placeholder-color: #2563eb;
    --icon-color: #2563eb;

    --border-radius: 0.5rem;
    /* --box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1); */

}

ion-segment-button {
    --indicator-color: #60a5fa;
}

/* iOS styles */
ion-segment-button.ios {
    --color: #60a5fa;
    --color-checked: #fff;
    --border-radius: 20px;
}

.heart-icon {
    width: 3rem;
    height: 3rem;
}

/* Estilo para la sombra */
ion-card.shadow {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* ajusta según tu preferencia */
}

/* Estilo para el degradado */
ion-card.bg-gradient-to-r {
    background: linear-gradient(to right, #60a5fa, #60a5fa);
    /* ajusta los colores según sea necesario */
}

/* Estilo para el texto dentro del card */
ion-card-content {
    padding: 1.25rem;
    /* ajusta según sea necesario */
}

/* Estilos para el esqueleto */
.skeleton-text {
    width: 100%;
}

.skeleton-line {
    width: 80%;
    /* Ajusta el ancho de las líneas según sea necesario */
    height: 12px;
    /* Ajusta la altura de las líneas según sea necesario */
    margin-bottom: 12px;
    /* Espacio entre líneas */
}