<ion-header class="bg-white shadow-none border-b border-gray-200">
  <div class="flex gap-2 items-center mx-3">
    <img 
      class="max-h-14 mx-auto"
      alt="logo PetPalooza" 
      src="assets/img/logo/PetPalooza.png" 
    />
    <!-- <ion-searchbar class="custom my-3" placeholder="Buscar"  mode="md"></ion-searchbar> -->
  </div>
</ion-header>
<ion-modal-controller></ion-modal-controller>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="py-5 px-3 bg-gray-50 grid grid-cols-1 gap-y-8">
     <!-- Dato Freak -->
     <ng-container *ngIf="datoFreakshowSkeleton; else contenidoReal">
      <!-- Aquí colocarías tu esqueleto de carga -->
      <div class="border border-stone shadow-lg rounded-lg overflow-hidden">
        <div class="animate-pulse p-4">
          <div class="flex items-center gap-4 py-3">
            <div class="shrink-0 rounded-full bg-gray-300 p-2"></div>
            <div class="h-6 w-2/3 bg-gray-300 rounded"></div>
          </div>
          <div class="px-3 py-2 bg-gray-300">
            <div class="h-6 bg-gray-300 rounded w-full"></div>
          </div>
        </div>
      </div>
    </ng-container>
    
    <ng-template #contenidoReal>
      <!-- Aquí colocarías tu contenido real -->
      <ion-accordion-group [value]="['first']" mode="ios" class="mb-6 mt-2 border border-stone shadow-lg rounded-lg overflow-hidden">
        <ion-accordion value="first">
          <ion-item slot="header">
            <div class="flex items-center gap-4 py-3">
              <span class="shrink-0 rounded-full bg-blue-400 p-2 text-white">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="h-4 w-4"
                >
                  <path
                    fill-rule="evenodd"
                    d="M18 3a1 1 0 00-1.447-.894L8.763 6H5a3 3 0 000 6h.28l1.771 5.316A1 1 0 008 18h1a1 1 0 001-1v-4.382l6.553 3.276A1 1 0 0018 15V3z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <p class="font-medium sm:text-lg text-blue-600"> {{DatosFreak[currentDatoIndex]?.Titulo}}</p>
            </div>
          </ion-item>
          <div class="px-3 py-2 bg-white" slot="content">
            <p class="text-gray-600">
              {{DatosFreak[currentDatoIndex]?.descripcion}}
            </p>
          </div>
        </ion-accordion>
      </ion-accordion-group>      
    </ng-template>
    
    
    <div id="registered-animals">
      <div class="w-full max-w-[570px] rounded-[20px] px-3 pt-4 text-start">
        <ng-container *ngIf="texto1showSkeleton; else contenido">
          <!-- Skeleton Loader -->
          <div class="skeleton-heading pb-2">
            <ion-skeleton-text [animated]="true" style="width:100%;"></ion-skeleton-text>
          </div>
        </ng-container>
        <ng-template #contenido>
          <!-- Contenido real -->
          <h1 class="pb-2 text-2xl font-medium">Animales Registrados</h1>
        </ng-template>
        
        <span class="bg-blue-400 mx-auto mb-4 inline-block h-1 w-[90px] rounded"></span>
      </div>
      <ng-container *ngIf="navigateToCatshowSkeleton; else contentTemplate">
        <div class="grid grid-cols-2 w-full gap-2">
          <div class="group w-full text-white rounded-lg bg-[#595959] p-5 transition relative duration-300 cursor-pointer hover:translate-y-[3px] hover:shadow-[0_-8px_0px_0px_#2196f3]">
            <p class="text-2xl bg-gray-300 h-8 w-24 rounded"></p>
            <p class="text-sm bg-gray-300 h-5 w-16 rounded mt-2"></p>
            <div class="absolute right-[10%] top-[50%] translate-y-[-50%] opacity-20 transition duration-300">
              <div class="bg-gray-400 h-8 w-8 rounded-full"></div>
            </div>
          </div>
          <div class="group w-full text-white rounded-lg bg-[#595959] p-5 transition relative duration-300 cursor-pointer hover:translate-y-[3px] hover:shadow-[0_-8px_0px_0px_rgb(244,67,54)]">
            <p class="text-2xl bg-gray-300 h-8 w-24 rounded"></p>
            <p class="text-sm bg-gray-300 h-5 w-16 rounded mt-2"></p>
            <div class="absolute right-[10%] top-[50%] translate-y-[-50%] opacity-20 transition duration-300">
              <div class="bg-gray-400 h-8 w-8 rounded-full"></div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #contentTemplate>
        <div class="grid grid-cols-2 w-full gap-2">
          <div class="group w-full text-white rounded-lg bg-[#673ab7] p-5 transition relative duration-300 cursor-pointer hover:translate-y-[3px] hover:shadow-[0_-8px_0px_0px_#2196f3]">
            <p class="text-2xl">{{ originalGatos.length }}</p>
            <p class="text-sm">Gatos</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" height="36" width="36" fill="currentColor" class="group-hover:opacity-100 absolute right-[10%] top-[50%] translate-y-[-50%] opacity-20 transition group-hover:scale-110 duration-300">
              <path d="M320 192h17.1c22.1 38.3 63.5 64 110.9 64c11 0 21.8-1.4 32-4v4 32V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V339.2L280 448h56c17.7 0 32 14.3 32 32s-14.3 32-32 32H192c-53 0-96-43-96-96V192.5c0-16.1-12-29.8-28-31.8l-7.9-1c-17.5-2.2-30-18.2-27.8-35.7s18.2-30 35.7-27.8l7.9 1c48 6 84.1 46.8 84.1 95.3v85.3c34.4-51.7 93.2-85.8 160-85.8zm160 26.5v0c-10 3.5-20.8 5.5-32 5.5c-28.4 0-54-12.4-71.6-32h0c-3.7-4.1-7-8.5-9.9-13.2C357.3 164 352 146.6 352 128v0V32 12 10.7C352 4.8 356.7 .1 362.6 0h.2c3.3 0 6.4 1.6 8.4 4.2l0 .1L384 21.3l27.2 36.3L416 64h64l4.8-6.4L512 21.3 524.8 4.3l0-.1c2-2.6 5.1-4.2 8.4-4.2h.2C539.3 .1 544 4.8 544 10.7V12 32v96c0 17.3-4.6 33.6-12.6 47.6c-11.3 19.8-29.6 35.2-51.4 42.9zM432 128a16 16 0 1 0 -32 0 16 16 0 1 0 32 0zm48 16a16 16 0 1 0 0-32 16 16 0 1 0 0 32z"/>
            </svg>
          </div>
          <div class="group w-full text-white rounded-lg bg-[rgb(41,49,79)] p-5 transition relative duration-300 cursor-pointer hover:translate-y-[3px] hover:shadow-[0_-8px_0px_0px_rgb(244,67,54)]">
            <p class="text-2xl">{{ originalPerros.length }}</p>
            <p class="text-sm">Perros</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" height="36" width="36" fill="currentColor" class="group-hover:opacity-100 absolute right-[10%] top-[50%] translate-y-[-50%] opacity-20 transition group-hover:scale-110 duration-300">
              <path d="M309.6 158.5L332.7 19.8C334.6 8.4 344.5 0 356.1 0c7.5 0 14.5 3.5 19 9.5L392 32h52.1c12.7 0 24.9 5.1 33.9 14.1L496 64h56c13.3 0 24 10.7 24 24v24c0 44.2-35.8 80-80 80H464 448 426.7l-5.1 30.5-112-64zM416 256.1L416 480c0 17.7-14.3 32-32 32H352c-17.7 0-32-14.3-32-32V364.8c-24 12.3-51.2 19.2-80 19.2s-56-6.9-80-19.2V480c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V249.8c-28.8-10.9-51.4-35.3-59.2-66.5L1 167.8c-4.3-17.1 6.1-34.5 23.3-38.8s34.5 6.1 38.8 23.3l3.9 15.5C70.5 182 83.3 192 98 192h30 16H303.8L416 256.1zM464 80a16 16 0 1 0 -32 0 16 16 0 1 0 32 0z"/>
            </svg>
          </div>
        </div>
      </ng-template>
    </div>
    
    <div id="animal-filter">
      <ion-segment mode="ios" [(ngModel)]="currentView">
        <ion-segment-button value="Últimos">
          <ion-label>Últimos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Favoritos">
          <ion-label>Favoritos</ion-label>
        </ion-segment-button>
      </ion-segment>
    
      <div class="w-full max-w-md px-4 bg-white border border-gray-200 rounded-lg shadow mt-3" *ngIf="currentView === 'Últimos'">
        <div class="flow-root">
            <ul role="list" class="divide-y divide-gray-200">
                <!-- Utilizando *ngFor para generar el esqueleto o mostrar los datos reales -->
                <ng-container *ngIf="showSkeletonUltimos; else dataContent">
                  <li class="py-3" *ngFor="let _ of [1, 2, 3,4]">
                      <div class="flex items-center">
                          <div class="flex-shrink-0">
                              <!-- Placeholder para la imagen -->
                              <div class="w-16 h-16 rounded-full bg-gray-300"></div>
                          </div>
                          <div class="flex-1 min-w-0 ms-4">
                              <!-- Placeholder para el nombre de la raza -->
                              <div class="h-4 w-3/4 bg-gray-300 mb-1 rounded"></div>
                              <!-- Placeholder para el origen -->
                              <div class="h-3 w-1/2 bg-gray-300 rounded"></div>
                          </div>
                          <!-- Placeholder para el botón "Ver Perfil" -->
                          <div class="flex-shrink-0">
                              <div class="h-8 w-24 bg-gray-300 rounded"></div>
                          </div>
                      </div>
                  </li>
                </ng-container>
                <ng-template #dataContent>
                    <!-- Aquí el contenido real -->
                    <ng-container *ngFor="let animal of intercalate(gatos, perros)">
                        <li class="py-3">
                            <div class="flex items-center">
                                <div class="flex-shrink-0">
                                    <img class="w-16 h-16 rounded-full object-cover" [src]="animal.imgPerfil" alt="{{ animal.type }} Image">
                                </div>
                                <div class="flex-1 min-w-0 ms-4">
                                    <p class="text-sm font-medium text-gray-900 truncate">{{ animal.Raza }}</p>
                                    <p class="text-sm text-gray-500 truncate">{{ animal.origen }}</p>
                                </div>
                                <a class="text-sm font-medium text-blue-400 hover:underline"  (click)="navigateToTargetPage(animal.type === 'gato' ? 'perfil-gato' : 'perfil-perro', animal)">
                                    Ver Perfil
                                </a>
                            </div>
                        </li>
                    </ng-container>
                </ng-template>
                <li class="py-3" *ngIf="!showSkeletonUltimos && gatos.length === 0 && perros.length === 0">
                    No hay animales disponibles actualmente.
                </li>
            </ul>
        </div>
      </div>
      <div class="w-full max-w-md px-4 bg-white border border-gray-200 rounded-lg shadow mt-3" *ngIf="currentView === 'Favoritos'">
        <div class="flow-root">
          <ul role="list" class="divide-y divide-gray-200">
            <li class="py-3" *ngFor="let favorite of favorites">
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <img class="w-16 h-16 rounded-full object-cover" [src]="favorite.imgPerfil" alt="Favorite Image">
                </div>
                <div class="flex-1 min-w-0 ms-4">
                  <p class="text-sm font-medium text-gray-900 truncate">{{ favorite.Raza }}</p>
                  <p class="text-sm text-gray-500 truncate">{{ favorite.origen }}</p>
                </div>
                <a class="text-sm font-medium text-blue-400 hover:underline" (click)="navigateToFavorites()">
                  Ver Perfil
                </a>
              </div>
            </li>
            <!-- Si no hay favoritos, mostrar un mensaje -->
            <li class="py-3" *ngIf="favorites.length === 0">
              Aún no hay favoritos.
            </li>
          </ul>
        </div>
      </div>    
    </div>
    
    <div id="slider-cat">
      <div class="w-full max-w-[570px] rounded-[20px] px-3 pt-4 text-start">
        <ng-container *ngIf="texto1showSkeleton; else contenidoGato">
          <!-- Skeleton Loader -->
          <div class="skeleton-heading pb-2">
            <ion-skeleton-text [animated]="true" style="width:100%;"></ion-skeleton-text>
          </div>
        </ng-container>
        <ng-template #contenidoGato>
          <!-- Contenido real -->
          <h1 class="pb-2 text-2xl font-medium">Gatos</h1>
        </ng-template>
        <span class="bg-blue-400 mx-auto mb-4 inline-block h-1 w-[90px] rounded"></span>
      </div>

      <swiper-container [slidesPerView]="1.3" [loop]="false">
        <swiper-slide *ngFor="let gato of originalGatos">
          <ng-container *ngIf="!showSkeletonGatos; else skeletonContent">
            <div class="px-3">
              <div class="w-full h-96 bg-white rounded-3xl p-4 flex flex-col items-start justify-between gap-3 border border-gray-200">
                <div class="w-full">
                  <div class="w-full h-52 rounded-2xl overflow-hidden relative">
                    <ion-img class="w-full h-full object-cover" alt="Imagen de Raza" [src]="gato.imgPerfil"></ion-img>
                    <div class="absolute top-3 right-3 w-10 h-10 rounded-full bg-white flex justify-center items-center text-red-400 ">
                      <button type="button" [class.animate]="isInFavorites(gato, 'gato')" [class.animate-pulse]="!isInFavorites(gato, 'gato')" (click)="addToFavorites(gato, 'gato')">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-7 h-7">
                          <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="mt-3">
                    <p class="text-black font-extrabold">{{gato.Raza}}</p>
                    <p class="text-gray-400">{{gato.origen}}</p>
                  </div>
                </div>
                <ion-button fill="clear" class="text-white px-1 rounded-xl bg-blue-400 hover:bg-blue-500 transition-colors" (click)="navigateToTargetPage('perfil-gato', gato)">Ver más</ion-button>
              </div>
            </div>
          </ng-container>
        </swiper-slide>
        <ng-template #skeletonContent>
          <div class="px-3">
            <div class="w-full h-96 bg-gray-100 rounded-3xl p-4 flex flex-col items-start justify-between gap-3 border border-gray-200 animate-pulse">
              <div class="w-full">
                <div class="w-full h-52 rounded-2xl bg-gray-300"></div>
                <div class="mt-3">
                  <div class="h-4 bg-gray-300 rounded w-3/4"></div>
                  <div class="h-3 bg-gray-300 rounded w-1/2 mt-2"></div>
                </div>
              </div>
              <div class="h-8 bg-gray-300 rounded w-24 mt-4"></div>
            </div>
          </div>
        </ng-template>
      </swiper-container>      
    </div>

    <div id="slider-dog">
      <div class="w-full max-w-[570px] rounded-[20px] px-3 pt-4 text-start">
        <ng-container *ngIf="texto1showSkeleton; else contenidoPerro">
          <!-- Skeleton Loader -->
          <div class="skeleton-heading pb-2">
            <ion-skeleton-text [animated]="true" style="width:100%;"></ion-skeleton-text>
          </div>
        </ng-container>
        <ng-template #contenidoPerro>
          <!-- Contenido real -->
          <h1 class="pb-2 text-2xl font-medium">Perros</h1>
        </ng-template>
        <span class="bg-blue-400 mx-auto mb-4 inline-block h-1 w-[90px] rounded"></span>
      </div>

      <swiper-container [slidesPerView]="1.3" [loop]="false">
        <swiper-slide *ngFor="let perro of originalPerros">
          <ng-container *ngIf="!showSkeletonPerros; else skeletonContent">
            <div class="px-3">
              <div class="w-full h-96 bg-white rounded-3xl p-4 flex flex-col items-start justify-between gap-3 border border-gray-200">
                <div class="w-full">
                  <div class="w-full h-52 rounded-2xl overflow-hidden relative">
                    <ion-img class="w-full h-full object-cover" [src]="perro.imgPerfil" alt="Imagen de Raza"></ion-img>
                    <div class="absolute top-3 right-3 w-10 h-10 rounded-full bg-white flex justify-center items-center text-red-400">
                      <button type="button" [class.animate]="isInFavorites(perro, 'gato')" [class.animate-pulse]="!isInFavorites(perro, 'gato')" (click)="addToFavorites(perro, 'gato')">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-7 h-7">
                          <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"/>
                        </svg>
                      </button>                      
                    </div>
                  </div>
                  <div class="mt-3">
                    <p class="text-black font-extrabold">{{perro.Raza}}</p>
                    <p class="text-gray-400">{{perro.origen}}</p>
                  </div>
                </div>
                <ion-button fill="clear" class="text-white px-1 rounded-xl bg-blue-400 hover:bg-blue-500 transition-colors" (click)="navigateToTargetPage2('perfil-perro', perro)">Ver más</ion-button>
              </div>
            </div>
          </ng-container>
        </swiper-slide>
      
        <ng-template #skeletonContent>
          <div class="px-3">
            <div class="w-full h-96 bg-gray-100 rounded-3xl p-4 flex flex-col items-start justify-between gap-3 border border-gray-200 animate-pulse">
              <div class="w-full">
                <div class="w-full h-52 rounded-2xl bg-gray-300"></div>
                <div class="mt-3">
                  <div class="h-4 bg-gray-300 rounded w-3/4"></div>
                  <div class="h-3 bg-gray-300 rounded w-1/2 mt-2"></div>
                </div>
              </div>
              <div class="h-8 bg-gray-300 rounded w-24 mt-4"></div>
            </div>
          </div>
        </ng-template>
      </swiper-container>      
    </div>
    <ng-container>
      <div class="px-3">
        <div class="w-full h-96 bg-white rounded-3xl p-4 flex flex-col items-start justify-between gap-3 border border-gray-200">
          <div class="w-full h-full bg-white rounded-2xl flex justify-center items-center">
              <div class="bg-blue-300 hover:bg-blue-400 rounded-xl">
                <ion-tab-button class="text-white text-base redirect" (click)="navigateToFavorites()">
                  <ion-label>Favoritos</ion-label>
                </ion-tab-button>
              </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ion-content>